* {
  box-sizing: border-box;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 10%;
}

.project {
  position: relative;
  width: 400px;
  height: 300px;
  color: white;
  background-color: rgba(61, 61, 61, 0.705);
  margin: 125px 100px;
  border-radius: 15px;
  padding: 16px;
  transition: ease-in 0.5s;
}

.project:hover {
  transform: scale(1.1);
  transition: ease-in 0.5s;
  background-color: rgba(85, 51, 255, 0.712);
}

.project:hover .project-btn {
  background-color: rgba(61, 61, 61, 0.705);
  transition: ease-in 0.5s;
}

.project-name {
  margin-bottom: 10px;
}

.project-btn {
  position: absolute;
  bottom: 0;
  margin: 0 0 15px 15px;
  padding: 5px 30px;
  border-radius: 10px;
  background-color: rgba(85, 51, 255, 0.712);
  cursor: pointer;
  left: 0;
  color: white;
  text-decoration: none;
}

.project-img {
  width: 368px;
  height: 180px;
  object-fit: cover;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .project {
    width: max(300px);
  }

  .project-img {
    max-width: 268px;
  }
}
