@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url(img/bkg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(32, 32, 32, 0.3);
    background-position: center;
    background-attachment: fixed;
}

.fas {
    display: none;
}

.fog {
    background-color: rgba(32, 32, 32, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
    background-attachment: fixed;
}

.nav-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    transition: 1s;
}

.logo {
    position: fixed;
    top: 2.7%;
    left: 0;
    z-index: 4;
    color: white;
    font-size: 1.25rem;
    height: 10%;
    text-align: center;
    padding-left: 1em;
    cursor: pointer;
    transition: 1s;
    vertical-align: -webkit-baseline-middle;
}

.logo span {
    color: rgb(85,51,255);
    transition: 1s;
}

.navbar {
    position: fixed;
    top: 2.8%;
    right: 0;
    z-index: 4;
    margin-right: 1rem;
    transition: 1s;
}

.navbar ul li {
    display: inline-block;
    padding-right: 2rem;
    list-style: none;
    cursor: pointer;
    transition: 1s;
    vertical-align: -webkit-baseline-middle;
}

.nav-link {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 1s;
}

.nav-link:hover {
    color: rgb(85,51,255);
    transition: all 300ms ease;
}

.title {
    position: absolute;
    top: 30%;
    left: 100px;
    color: white;
    z-index: 3;
}

.title h1 {
    font-size: 5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.title h2 {
    font-size: 3rem;
    margin-top: 0;
    padding-top: 0;
    font-weight: 400;
    margin-bottom: 50px;
}

.title p {
    font-size: 1.75rem;
}

.title span {
    color: rgb(85,51,255);
}

.hire {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    border: rgb(85,51,255) solid 4px;
    border-radius: 5px;
    padding: 15px 50px;
    background-color: rgba(54, 54, 54, 0.5);
    transition: all 300ms ease;
}

.hire:hover {
    background-color: rgb(85,51,255);
    transition: all 300ms ease;
}

.nav-shadow.purple {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgb(85,51,255);
    z-index: 4;
    transition: 1s;
}

.logo.purple {
    position: fixed;
    top: 2.7%;
    left: 0;
    z-index: 4;
    color: white;
    font-size: 1.25rem;
    height: 10%;
    text-align: center;
    padding-left: 1em;
    cursor: pointer;
    transition: 1s;
    vertical-align: -webkit-baseline-middle;
}

.logo span.purple {
    color: rgb(0, 0, 0);
    transition: 1s;
}

.navbar.purple {
    position: fixed;
    top: 2.8%;
    right: 0;
    z-index: 4;
    margin-right: 1rem;
    transition: 1s;
}

.navbar ul li.purple {
    display: inline-block;
    padding-right: 2rem;
    list-style: none;
    cursor: pointer;
    transition: 1s;
    vertical-align: -webkit-baseline-middle;
}

.nav-link.purple {
    position: relative;
    right: 0;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 1s;
}

.nav-link:hover.purple {
    color: rgb(0, 0, 0);
    transition: all 300ms ease;
}

.about-bkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    margin-top: 100vh;
    background-color: white;
    z-index: 3;
    padding: 1rem;
}

.about-title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 4rem;
    font-weight: 300;
}

.about-sub {
    text-align: center;
    margin-bottom: 4rem;
}

.about-sub span {
    color: rgb(85,51,255); 
}

.about-image {
    float: left;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 4rem 4rem 10rem;
}

.about-content {
    margin-right: 10rem;
    text-align: justify;
}

.about-intro {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 6.4rem;
}

.about-intro span {
    color: rgb(85,51,255);
}

#about {
    margin-top: 90vh;
}

#services {
    margin-top: 190vh;
}

.services-bkg {
    position: absolute;
    top: 0;
    left: 0; 
    background-color: #111;
    width: 100%;
    height: 75vh;
    margin-top: 190vh;
    z-index: 3;
}

.services-title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 4rem;
    font-weight: 300;
    color: white;
}

.services-sub {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
}

.services-sub span {
    color: rgb(85,51,255); 
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}

.services-card-1, 
.services-card-2, 
.services-card-3 {
    border-radius: 10px;
    color: white;
    transition: all .3s ease;
}

.services-card-1 i::before, 
.services-card-2 i::before, 
.services-card-3 i::before {
    position: relative;
    color: rgb(85,51,255);
    font-size: 3.5rem;
    text-align: center;
    top: 32px;
}

.services-card-1 .text, 
.services-card-2 .text, 
.services-card-3 .text {
    position: relative;
    top: 42px;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.services-card-1 p, 
.services-card-2 p, 
.services-card-3 p {
    position: relative;
    top: 32px;
}

.services-card-1:hover, 
.services-card-2:hover, 
.services-card-3:hover {
    background-color: rgb(133, 109, 255);
    cursor: pointer;
    transform: scale(1.01);
    transition: all .3s ease;
}

.services-card-1 {
    /* display: inline-block; */
    background-color: #222;
    width: 300px;
    height: 260px;
}

.services-card-2 {
    /* display: inline-block; */
    background-color: #222;
    width: 300px;
    height: 260px;
}

.services-card-3 {
    /* display: inline-block; */
    background-color: #222;
    width: 300px;
    height: 260px;
}

footer {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: #222;
    z-index: 5;
    text-align: center;
    margin-top: 265vh;
    width: 100%;
    height: 6%;
    text-align: center;
}

footer p {
    margin-top: 10px;
}

footer span {
    color: rgb(85,51,255);
    transition: ease 0.2s;
}

footer span:hover {
    text-decoration: underline;
    transition: ease 0.2s;
}

footer a {
    text-decoration: none;
}

/* Media Queries */

@media screen and (min-width: 300px) and (max-width: 600px) {
    
    nav {
        display: none;
    }

    .purple {
        display: none;
    }

    .logo {
       top: 0;
       left: 0;
       padding: 7px 0 0 12px;
    }

    .title {
        left: 25px;
        top: 100px;
    }

    .title p {
        font-size: 1rem;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title h2 {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .hire {
        font-size: 1rem;
        padding: 10px 20px 10px 20px;
        border: rgb(85,51,255) solid 3px;

    }

    .nav-shadow {  
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        min-height: 45px;
        transition: 1s;
    }

    .about-intro {
        margin-top: 2rem;
        font-size: 1.3rem;
        margin-left: 17.9px;
    }

    .about-bkg {
        margin-top: 50vh;
        height: 150vh;
    }

    .about-image {
        margin: 0 0 0 45px;
        width: 75%;
        float: none;
    }

    .about-content {
        font-size: 1rem;
        width: 90%;
        margin: auto;
    }

    .services-bkg {
        height: 1150px;
    }

    .services-cards {
        text-align: center;
    }

    .services-card-1, 
    .services-card-2,
    .services-card-3 {
        position: relative;
        margin: auto;
        top: 0;
        left: 0;
    }

    #mobile-footer-bug {
        margin-top: 2740px;
        height: 70px;
    }

    .fa-bars {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        font-size: 1.25rem;
        z-index: 5;
        margin: 10px;
    }

    .menu.toggled {
        z-index: 6;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        margin: 0;
    }

    .menu.toggled .close-menu {
        margin: 10px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 7;
        font-size: 1.25rem;
    }

}

@media screen and (max-width: 1305px) {

    .services-bkg {
        height: 970px;
    }

    .services-card-3 {
        margin-top: 13%;
    }

    footer {
        margin-top: 2737px;
    }

} 

@media screen and (max-width: 876px) {

    .services-bkg {
        min-height: 1200px;
    }

    .services-card-1,
    .services-card-2,
    .services-card-3 {
        margin: 1rem 0;
    }

    footer {
        margin-top: 2980px;
    }

}

@media print {
    body {
        background-color: white;
    }

    nav {
        display: none;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }
}